h1{
    text-align: center;
    font-family: Arial, serif;
    background-color: gainsboro;
    padding: 2.5vw 0;
    font-size: 4vw;
}
button{
    font-family: Arial, serif;
    font-size: 2vw;
    background-color: dodgerblue;
    width: 40%;
    margin-bottom: 20px;
}

img{
    width: 100%;
    height: auto;
}

table{
    width: 100%;
    height: auto;
}

table, td{
    border: 0.5vw solid black;
    border-collapse: collapse;
    padding: 5px 5px;
}

#divbotao{
    text-align: center;
    width: 80%;
    margin: auto;

}

#tabuleiro, #tempos{
    width: 80%;
    margin: auto;
    max-width: 600px;
}

#tempos{
    font-size: 2vw;
    max-width: 600px;
}

#timer{
    float: right;
}

#highscore{
    float: left;
}